/* ================Main================== */
body {
    font-size: 1rem;
    font-family: poppins sans-serif;
}

.structure {
    width: 100%;
    background-color: #fff;
    display: block;
}

section {
    padding: 50px 0;
}

small {
    display: block;
}

ul {
    list-style-type: none;
}

.container {
    padding: 0px 15px;
    margin-right: auto;
    margin-left: auto;
}

/* ================Navbar================== */

.main-header {
    vertical-align: middle;
    position: block;
}

.logo-con {
    width:auto;
    padding: 20px;
}
.navbar-logo {
    height:auto;
    width: auto;
    display:inline-block;
    margin: 10px auto;
    padding: 10px 20px;
    float: none;
}

.searchbar-input {
    height: 56px;
    width: auto;
}

header a {
    text-decoration: none;
    display: inline-block;
}
.button-support {
    background-color: #4183d7;
    padding: 5px 15px;
    width: 156px;
    height: 56px;
    border-radius: 3px;
    text-transform: uppercase;
    color: white;
    font-size: 1rem;
    text-align: center;
}
.button-support:hover {
    background-color: #2a6ec6;
}

.button-contact {
    background-color: #999aa2;
    padding: 5px 15px;
    width: 156px;
    height: 56px;
    border-radius: 3px;
    text-transform: uppercase;
    color: white;
    font-size: 1rem;
    text-align: center;
}

.button-contact:hover {
    background-color: #84858f;
}


.button-menu {
    background-color: #333645;
    padding: 5px 15px;
    width: 63px;
    height: 56px;
    border-radius: 3px;
    text-transform: uppercase;
    color: white;
    font-size: 1rem;
    text-align: center;
}

.button-menu:hover {
    background-color: #22242e;
}


.button-search {
    background-color: #999aa2;
    padding: 5px 15px;
    width: 63px;
    height: 56px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    text-transform: uppercase;
    color: white;
    font-size: 1rem;
    text-align: center;
}

.button-search:hover {
    background-color: #7e808f;
}


.search-bar {
    width: 300px;
    display: inline-block;
}

#icon-support {
    height: 44px;
    width: 23px;
}
#icon-contact {
    height: 44px;
    width: 23px;
}
#icon-search {
    height: 22px;
    width: 23px;
}
#icon-menu {
    height: 19px;
    width: 33px;
}

.telephone-con {
    display: block;
    width: 100%;
    height: auto;
}

.navbar-bottom {
    background-color: #333645;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows:1;
    justify-content: center;
}
.navbar-bottom a {
    display:block;
    color: white;
    max-width: 100%;
    text-decoration: none;
}

.navbar-bottom a:hover{
    color: white;
}

.item-1:hover {
    background-color: #79539a;
}
.item-1:hover #item-1 path{
    fill: white;
}

.item-2:hover {
    background-color: #286ADB;
}
.item-2:hover #item-2 path{
    fill: white;
}

.item-3:hover {
    background-color: #d44645;
}
.item-3:hover #item-3 path{
    fill: white;
}

.item-4:hover {
    background-color: #526781;
}
.item-4:hover #item-4 path{
    fill: white;
}

.item-5:hover {
    background-color: #25a25a;
}
.item-5:hover #item-5 path{
    fill: white;
}

.item-6:hover {
    background-color: #DE093F;
}
.item-6:hover #item-6 path{
    fill: white;
}


.item-1,
.item-2,
.item-3,
.item-4,
.item-5,
.item-6 {
    padding: 30px 30px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: .5px solid white;
    box-shadow: 1px 0px 0px 0px #666666;
}
span icon-1 a:hover {
    color: #fff;
}

/* ================Banner================== */

#banner-img{
    display: block;
    background: url("images/banner.jpg") no-repeat center relative;
    background-size: cover;
    width: 100%;
    height:auto;
}


.banner-text-con {
    position: relative;
    display: block;
    margin: 25px;
}
.large-readmore {
    padding: 15px;
    color: white;
    background-color: black;
    border: 1px solid green;
    border-radius: 3px;
}


/* ================7 blocks================== */

.col-md-4,
.col {
    padding: 0px 15px;
}

.col a,
.col-md-4 a {
    text-decoration: none;
}

.block-container {
    margin: auto;
    padding: 50px 15px;
}

.block {
    border: 1px solid #666666;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 35px 0px;
    border-radius: 3px;
    padding: 30px;
    margin-top: 30px;
    text-align: center;
    color: black;
}

.block:hover,
.block:hover path {
    color: #fff;
    fill: white;
    border: none;
}


.block-1:hover {
    background-color: #67809f;
}
.block-2:hover {
    background-color: #4183d7;
}
.block-3:hover {
    background-color: #2ecc71;
}
.block-4:hover {
    background-color: #d64541;
}
.block-5:hover {
    background-color: #926fb1;
}
.block-6:hover {
    background-color: #f62459;
}
.block-7:hover {
    background-color: #926fb1;
}
#btn-block-1 {
    background-color: #67809f;
    padding: 5px 15px;
    border-radius: 3px;
    text-transform: uppercase;
    color: white;
    font-size: 1rem;
}
#btn-block-2 {
    background-color: #4183d7;
    padding: 5px 15px;
    border-radius: 3px;
    text-transform: uppercase;
    color: white;
}
#btn-block-3 {
    background-color: #2ecc71;
    padding: 5px 15px;
    border-radius: 3px;
    text-transform: uppercase;
    color: white;
}
#btn-block-4{
    background-color: #d64541;
    padding: 5px 15px;
    border-radius: 3px;
    text-transform: uppercase;
    color: white;
}
#btn-block-5 {
    background-color: #926fb1;
    padding: 5px 15px;
    border-radius: 3px;
    text-transform: uppercase;
    color: white;
}
#btn-block-6 {
    background-color: #f62459;
    padding: 5px 15px;
    border-radius: 3px;
    text-transform: uppercase;
    color: white;
}
#btn-block-7 {
    background-color: #926fb1;
    padding: 5px 15px;
    border-radius: 3px;
    text-transform: uppercase;
    color: white;
}
.block:hover #btn-block-1{
    color: #67809f;
    background: white;
}
.block:hover #btn-block-2 {
    color: #4183d7;
    background: white;
}
.block:hover #btn-block-3 {
    color: #2ecc71;
    background: white;
}
.block:hover #btn-block-4 {
    color: #d64541;
    background: white;
}
.block:hover #btn-block-5 {
    color: #926fb1;
    background: white;
}
.block:hover #btn-block-6 {
    color: #f62459;
    background: white;
}
.block:hover #btn-block-7 {
    color: #926fb1;
    background: white;
}

a .block-links {
    text-decoration: none;
    color: black;
}

.block-links:hover {
    color: white;
}



/* ================Netmatters Logo ================== */

#banner-img-2 {
    width: 100%;
    height:auto;
}

/* ================Netmatters Logo ================== */



/* ================ News cards ================== */


/* ================ Previous Work ================== */

.row-dw {
    margin-left: auto;
    margin-right: auto;
    padding: 0px 15px;
    height: 170px;
    max-width: 100%;
}

.ford,
.crane,
.northdiver,
.beat {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 20px;
    height: 70px;
    width: 350px;

}

#bussey,
#crane,
#northdiver,
#beat {
    display: inline-block;
}


/* ================ News Letter section ================== */

.email-newsletter {
    background-color: #dddddd;
}

.newletter-submit {
    background-color: #4183d7;
    padding: 5px 15px;
    width: 156px;
    height: 56px;
    border-radius: 3px;
    text-transform: uppercase;
    color: white;
    font-size: 1rem;
    text-align: center;
}




/* ================ Footer ================== */

footer {
    /* max-width: 100%;
    height: auto;
    position: ;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: auto;
    background-color: #333645;
    text-align: center; */
}
.flex-container{
    max-width: 100%;
    height: auto;
    background-color: #333645;
    display: block;
    padding-top: 47px;
    padding-bottom: 43px;
}

footer h4{
    text-transform: uppercase;
    font-size: 1rem;
    text-align: center;
}

footer ul li {
    font-size: .65em;
    text-decoration: none;
    text-align: left;
}

.footer-container {
    margin: 0 -15px;
    display: flex;
    justify-content: space-between;
}

.f-contact,
.f-about,
.f-web,
.f-social {
    display: inline-block;
    color: white;
    padding: 0px 15px;
}

/* ================ partners ================== */



.google-box,
.silver-micro-box,
.future-50-box,
.qms-box,
.charter-box {
    padding: 0px 20px;
    height: 88px;
    width: 240px;
    display: inline-block;
}
#google {
    height: auto;
    width: 240px;
}

.investing-box,
.princess-box,
.winner-box {
    height: 58px;
    width: 400px;
    display: inline-block;
    padding: 0px 20px;
}




/* ========================================= */
/* ========================================= */
/* ================ Media ================== */
/* ========================================= */
/* ========================================= */



/* ================ Navbar ================== */
@media (min-width:1151px) {
    .telephone-con {
        display:none;
    }
}

@media (max-width:1151px) {
    .button-contact,
    .button-support {
        display: none;
    }
}



@media  (max-width: 1488px){
    .navbar-bottom-container,
    .partners,
    .previous-work
     {
        display: none;
    }
    .container {
        width: 970px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
