/* ================Main================== */
body {
    font-size: 1rem;
    font-family: poppins sans-serif;
}

.structure {
    margin: 0 auto;
    width: 85%;
    background-color: #fff;
    display: block;
}

section {
    /* margin: 50px 0; */
    padding: 50px 0;
}

small {
    display: block;
}

ul {
    list-style-type: none;
}

.container {
    padding: 0px 15px;
    margin: 0px 34px;
}

/* ================Navbar================== */

.main-header {
    text-align: center;

}

.logo-con {
    display: block;
    width:auto;
    padding: 20px;
}
.navbar-logo {
    max-width: 100%
    height:auto;
    display:block;
    margin: 10px auto;
    padding: 10px 20px
    float: left;
}

.telephone-con {
    display: block;
    width: 100%;
    height: auto;
}

.navbar-bottom {
    background-color: #333645;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows:1;
    justify-content: center;
}
.navbar-bottom a {
    display:block;
    color: white;
    max-width: 100%;
    text-decoration: none;
}

.navbar-bottom a:hover{
    color: white;
}

.item-1:hover {
    background-color: #79539a;
}

.item-2:hover {
    background-color: #286ADB;
}
.item-3:hover {
    background-color: #d44645;
}
.item-4:hover {
    background-color: #526781;
}
.item-5:hover {
    background-color: #25a25a;
}
.item-6:hover {
    background-color: #DE093F;
}


.item-1,
.item-2,
.item-3,
.item-4,
.item-5,
.item-6 {
    padding: 30px 30px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    /* border-right: .3px solid #D3D3D3;
    border-left: 3px solid #424242; */
    border-bottom: .5px solid white;
    box-shadow: 1px 0px 0px 0px #666666;
}
span icon-1 a:hover {
    color: #fff;
}

/* ================Banner================== */

#banner-img{
    background: url("images/banner.jpg") no-repeat center fixed;
    background-size: cover;
    width: 100%;
    height:auto;
}


/* ================7 blocks================== */

.col-md-4,
.col {
    margin: 0px 15px;
}

.block {
    border: 1px solid #333645;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 35px 0px;
    border-radius: 3px;
    padding: 30px;
    margin-top: 30px;
    text-align: center;
}

.block:hover {
    color: #fff;
}

.block-1:hover {
    background-color: #67809f;
}

.block-2:hover {
    background-color: #4183d7;
}
.block-3:hover {
    background-color: #2ecc71;
}
.block-4:hover {
    background-color: #d64541;
}
.block-5:hover {
    background-color: #926fb1;
}
.block-6:hover {
    background-color: #f62459;
}
.block-7:hover {
    background-color: #926fb1;
}

/* ================Netmatters Logo ================== */

#banner-img-2 {
    width: 100%;
    height:auto;
}

/* ================Netmatters Logo ================== */

.news-images


/* ================ News cards ================== */



/* ================ Footer ================== */

footer {
    /* max-width: 100%;
    height: auto;
    position: ;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: auto;
    background-color: #333645;
    text-align: center; */
}
.flex-container{
    position: block;
    max-width: 100%;
    height: auto;
    background-color: #333645;
    text-align: center;
    display: flex;
    flex-direction: row;
    padding-top: 47px;
    padding-bottom: 43px;
}

footer h4{
    text-transform: uppercase;
    font-size: 1rem;
}

footer ul li {
    font-size: .65em;
    text-decoration: none;
}


.f-contact,
.f-about,
.f-web,
.f-social {
    position: relative;
    color: white;
    padding: 0px 15px;
}

/* ========================================= */
/* ========================================= */
/* ================ Media ================== */
/* ========================================= */
/* ========================================= */



/* ================ Navbar ================== */
@media  (max-width: 991px){
    .navbar-bottom-container,
    .partners,
    .previous-work
     {
        display: none;
    }
}
