/* ================Main================== */
* {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: 'poppins', sans-serif;
  letter-spacing: .4px;
  line-height: 1.42px;
}

.structure {
  width: 100%;
  background-color: #fff;
  display: block;
}

section {
  padding: 50px 0;
}

small {
  display: block;
}

.correct {
  font-size: .625rem;
}

ul {
  list-style-type: none;
}

.container {
  padding: 0px 15px;
  margin-right: auto;
  margin-left: auto;
}

/* ================Navbar================== */
.main-header {
  position: block;
}

.container-header {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo-con {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 20px;
}

.navbar-logo {
  height: auto;
  width: auto;
  display: inline-block;
}

#logo {
  width: 100%;
}

.searchbar-input {
  height: 56px;
  width: auto;
}

header a {
  text-decoration: none;
  display: inline-block;
}

.button-support {
  background-color: #4183d7;
  padding: 5px 15px;
  width: auto;
  height: 56px;
  border-radius: 3px;
  text-transform: uppercase;
  color: white;
  font-size: 1rem;
  text-align: center;
}

.button-support:hover {
  background-color: #2a6ec6;
}

.button-contact {
  background-color: #999aa2;
  margin-left: 20px;
  padding: 5px 15px;
  width: auto;
  height: 56px;
  border-radius: 3px;
  text-transform: uppercase;
  color: white;
  font-size: 1rem;
  text-align: center;
}

.button-contact:hover {
  background-color: #84858f;
}

.button-menu {
  background-color: #333645;
  padding: 5px 15px;
  width: 63px;
  height: 56px;
  border-radius: 3px;
  border: none;
  text-transform: uppercase;
  color: white;
  font-size: .75em;
  text-align: center;
  vertical-align: super;
  margin-left: 20px;
}

.button-menu:hover {
  background-color: #22242e;
}

.button-search {
  background-color: #999aa2;
  padding: 5px 15px;
  width: 63px;
  height: 56px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color: white;
  font-size: 1rem;
  border: none;
  vertical-align: middle;
}

.button-search:hover {
  background-color: #7e808f;
}

.search-bar {
  vertical-align: sub;
  margin-left: 20px;
}

.search-bar {
  width: 300px;
  display: inline-block;
}

#icon-support {
  height: 44px;
  width: 23px;
}

#icon-contact {
  height: 44px;
  width: 23px;
}

#icon-search {
  height: 22px;
  width: 23px;
}

#icon-menu {
  height: 19px;
  width: 33px;
}

.telephone-con {
  display: flex;
  margin-left: 15px;
}

#telephone {
  padding-top: 20px;
}

.navbar-bottom {
  background-color: #333645;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.navbar-bottom a {
  display: block;
  color: white;
  max-width: 100%;
  text-decoration: none;
}

.navbar-bottom a:hover {
  color: white;
}

.item-1:hover {
  background-color: #79539a;
}

.item-1:hover #item-1 path {
  fill: white;
}

.item-2:hover {
  background-color: #286ADB;
}

.item-2:hover #item-2 path {
  fill: white;
}

.item-3:hover {
  background-color: #d44645;
}

.item-3:hover #item-3 path {
  fill: white;
}

.item-4:hover {
  background-color: #526781;
}

.item-4:hover #item-4 path {
  fill: white;
}

.item-5:hover {
  background-color: #25a25a;
}

.item-5:hover #item-5 path {
  fill: white;
}

.item-6:hover {
  background-color: #DE093F;
}

.item-6:hover #item-6 path {
  fill: white;
}

.item-1 {
  border-left: 1px solid #666666;
}

.item-1,
.item-2,
.item-3,
.item-4,
.item-5,
.item-6 {
  height: 99px;
  width: 192px;
  padding-top: 19px;
  padding-bottom: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 1px 0px 0px 0px #666666;
}

span icon-1 a:hover {
  color: #fff;
}

/* ================Banner================== */
.unfair {
  display: flex;
  flex-direction: row;
}

.microphone {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 100%;
}

.banner-con {
  flex: 1 0 auto;
  color: #fff;
  border-top: 1px solid rgba(51, 54, 69, 0.5);
}

.banner-con .container {
  display: block;
  position: relative;
  top: 150px;
}

.banner-outer {
  position: relative;
  height: 100%;
}

#banner-img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  text-align: left;
}

.banner-text-con {
  position: relative;
  display: block;
}

.banner-text-con h1 {
  font-size: 48px;
  line-height: 52.8px;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.banner-text-con p {
  line-height: 36px;
  font-size: 20px;
  margin-bottom: 35px;
}

.large-readmore {
  padding: 15px;
  color: white;
  background-color: #926fb1;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
}

.large-readmore:hover {
  background-color: #7e57a0;
}

/* ================7 blocks================== */
.col-md-4,
.col {
  padding: 0px 15px;
}

.col a,
.col-md-4 a {
  text-decoration: none;
}

.block-container {
  margin: auto;
  padding: 50px 15px;
}

.block h2 {
  font-size: 1.125em;
  padding-bottom: 17px;
  margin-bottom: 11px;
  border-bottom: 3px solid #333645;
}

.block p {
  margin-bottom: 13px;
}

.block {
  border: 1px solid #bababa;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 35px 0px;
  border-radius: 3px;
  padding: 30px;
  margin-top: 30px;
  text-align: center;
  color: #333645;
  width: 100%;
}

.block:hover,
.block:hover path {
  color: #fff;
  fill: white;
  border: none;
}

.block-1:hover {
  background-color: #67809f;
}

.block-1:hover h2 {
  border-bottom: 3px solid #ffffff;
}

.block-2:hover {
  background-color: #4183d7;
}

.block-2:hover h2 {
  border-bottom: 3px solid #ffffff;
}

.block-3:hover {
  background-color: #2ecc71;
}

.block-3:hover h2 {
  border-bottom: 3px solid #ffffff;
}

.block-4:hover {
  background-color: #d64541;
}

.block-4:hover h2 {
  border-bottom: 3px solid #ffffff;
}

.block-5:hover {
  background-color: #926fb1;
}

.block-5:hover h2 {
  border-bottom: 3px solid #ffffff;
}

.block-6:hover {
  background-color: #f62459;
}

.block-6:hover h2 {
  border-bottom: 3px solid #ffffff;
}

.block-7:hover {
  background-color: #926fb1;
}

.block-7:hover h2 {
  border-bottom: 3px solid #ffffff;
}

#btn-block-1 {
  background-color: #67809f;
  padding: 5px 15px;
  border-radius: 3px;
  text-transform: uppercase;
  color: white;
  font-size: 1rem;
}

#btn-block-2 {
  background-color: #4183d7;
  padding: 5px 15px;
  border-radius: 3px;
  text-transform: uppercase;
  color: white;
}

#btn-block-3 {
  background-color: #2ecc71;
  padding: 5px 15px;
  border-radius: 3px;
  text-transform: uppercase;
  color: white;
}

#btn-block-4 {
  background-color: #d64541;
  padding: 5px 15px;
  border-radius: 3px;
  text-transform: uppercase;
  color: white;
}

#btn-block-5 {
  background-color: #926fb1;
  padding: 5px 15px;
  border-radius: 3px;
  text-transform: uppercase;
  color: white;
}

#btn-block-6 {
  background-color: #f62459;
  padding: 5px 15px;
  border-radius: 3px;
  text-transform: uppercase;
  color: white;
}

#btn-block-7 {
  background-color: #926fb1;
  padding: 5px 15px;
  border-radius: 3px;
  text-transform: uppercase;
  color: white;
}

.block:hover #btn-block-1 {
  color: #67809f;
  background: white;
}

.block:hover #btn-block-2 {
  color: #4183d7;
  background: white;
}

.block:hover #btn-block-3 {
  color: #2ecc71;
  background: white;
}

.block:hover #btn-block-4 {
  color: #d64541;
  background: white;
}

.block:hover #btn-block-5 {
  color: #926fb1;
  background: white;
}

.block:hover #btn-block-6 {
  color: #f62459;
  background: white;
}

.block:hover #btn-block-7 {
  color: #926fb1;
  background: white;
}

a .block-links {
  text-decoration: none;
  color: black;
}

.block-links:hover {
  color: white;
}

.icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  margin-bottom: 17px;
  padding: 15px;
}

.icon-1 {
  background-color: #67809f;
}

.icon-2 {
  background-color: #4183d7;
}

.icon-3 {
  background-color: #2ecc71;
}

.icon-4 {
  background-color: #d64541;
}

.icon-5 {
  background-color: #926fb1;
}

.icon-6 {
  background-color: #f62459;
}

.icon-7 {
  background-color: #926fb1;
}

.block:hover .icon-1 path {
  fill: #67809f;
}

.block:hover .icon-2 path {
  fill: #4183d7;
}

.block:hover .icon-3 path {
  fill: #2ecc71;
}

.block:hover .icon-4 path {
  fill: #d64541;
}

.block:hover .icon-5 path {
  fill: #926fb1;
}

.block:hover .icon-6 path {
  fill: #f62459;
}

.block:hover .icon-7 path {
  fill: #926fb1;
}

.block:hover .icon {
  background: #fff;
}

/* ================Banner 2 ================== */
.section-nm {
  background-color: #333645;
  color: #fff;
}

.banner2 {
  display: block;
  position: absolute;
  background-image: url(images/banner-2.png);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: auto 100%;
}

.row-nm {
  width: 100%;
  height: auto;
  margin: 0px -15px;
}

.column-nm {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  height: auto;
  line-height: 30px;
}

.column-nm p {
  font-size: 1rem;
}

.column-nm h1 {
  font-weight: 400;
  font-size: 2.25rem;
  margin-bottom: 28px;
}

.culture-btn {
  height: 47px;
  width: 173px;
  color: #333645;
  background-color: #fff;
  border-radius: 3px;
  border: none;
  text-transform: uppercase;
}

.culture-btn:hover {
  background-color: #ebebeb;
}

#sec-nm-h1 {
  text-transform: uppercase;
}

/* ================Latest Heading ================== */
.latest-heading {
  display: block;
  padding: 40px 0px;
  height: 104px;
  width: 71px;
  border-bottom: 5px solid #333645;
  text-transform: uppercase;
  font-size: 20px;
}

/* ================ News cards ================== */
.news {
  box-shadow: inset .1px 20px 50px #ededed;
}

.card-btn {
  background-color: #333645;
  padding: 5px 15px;
  width: 129px;
  height: 47px;
  border-radius: 3px;
  text-transform: uppercase;
  color: white;
  font-size: 1rem;
  text-align: center;
  border: none;
  text-decoration: none;
}

.card-btn:hover {
  color: white;
}

.card-heading {
  margin-bottom: 15px;
}

.card-paragraph {
  margin-bottom: 25px;
}

.createdby {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #666666;
  display: inline-flex;
}

.card1 {
  height: auto;
  width: auto;
}

.user-icon {
  border: none;
  border-radius: 50%;
  height: 47px;
  width: 47px;
}

.author strong {
  color: #333645;
}

.author {
  color: #666666;
}

.author {
  margin-left: 20px;
}

/* ================ Previous Work ================== */
.previous-work {
  background-color: #fff;
  box-shadow: inset .1px 20px 50px #ededed;
  padding-top: 50px;
  padding-bottom: 50px;
}

.row-dw {
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
  height: 70px;
  max-width: 100%;
  display: flex;
}

.invisble-link span {
  display: block;
  position: absolute;
  height: 70px;
  width: 100%;
  left: 0px;
}

.ford,
.crane,
.northdiver,
.beat {
  display: block;
  position: relative;
  padding: 0px 20px;
  height: auto;
  width: 100%;
}

.ford {
  background-image: url(../images/busseys-no-color.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.ford:hover {
  background-image: url(../images/busseys-color.png);
}

.ford:hover .description-box {
  display: block;
}

.crane {
  background-image: url(../images/crane-no-color.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.crane:hover {
  background-image: url(../images/crane-color.png);
}

.crane:hover .description-box {
  display: block;
}

.beat {
  background-image: url(../images/beat-no-color.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.beat:hover {
  background-image: url(../images/beat-color.png);
}

.beat:hover .description-box {
  display: block;
}

.northdiver {
  background-image: url(../images/northerndiver-no-color.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.northdiver:hover {
  background-image: url(../images/northerndiver-color.png);
}

.northdiver:hover .description-box {
  display: block;
}

.description-box {
  display: none;
  position: absolute;
  bottom: 100%;
  right: -200px;
  left: -200px;
}

.speechbubble {
  display: block;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  max-width: 260px;
  background-color: #333645;
  color: #ffffff;
  text-align: center;
}

.speechbubble h3 {
  position: relative;
  padding-bottom: 17px;
  margin-bottom: 11px;
  font-size: 1.125rem;
  border-bottom: 5px solid #ffffff;
}

.speechbubble p {
  font-size: .8125rem;
  line-height: 1.375rem;
}

.speechbubble .bottom-speechbubble {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -36px;
}

/* ================ News Letter section ================== */
.email-newsletter {
  background-color: #dddddd;
  color: #333645;
  font-size: 1em;
}

.email-newsletter form a {
  color: #333645;
}

.email-newsletter form a:hover {
  color: #121419;
}

#newsletter-submit {
  background-color: #333645;
  padding: 5px 15px;
  width: 120px;
  height: 45px;
  border-radius: 3px;
  text-transform: uppercase;
  color: white;
  font-size: 1rem;
  text-align: center;
  border: none;
}

#newsletter-submit:hover {
  background-color: #22242e;
}

.sign-up {
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
}

.sign-up label {
  margin-bottom: 5px;
}

.checkbox-outer {
  margin-bottom: 15px;
}

.checkbox-1 {
  display: block;
  margin-bottom: 5px;
}

/* ================ Footer ================== */
.block-container-footer {
  max-width: 100%;
  height: auto;
  background-color: #333645;
  display: block;
  padding-top: 47px;
  padding-bottom: 43px;
  font-size: 0.8125em;
}

footer h4 {
  text-transform: uppercase;
  font-size: 1rem;
  text-align: left;
}

footer ul {
  display: initial;
  width: 100%;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
}

footer ul li a:hover {
  color: #fff;
  text-decoration: underline;
}

.footer-container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  display: block;
}

.f-contact,
.f-about,
.f-web,
.f-social {
  display: block;
  color: white;
  text-align: left;
  margin-bottom: 30px;
}

.f-social span {
  display: block;
  margin-top: 30px;
  width: auto;
  height: 55px;
  background-color: #000000;
  padding: 5px 15px;
  border: none;
}

.linkedin button path {
  opacity: 100%;
}

#facebook:hover {
  background-color: #3b5998;
}

#twitter:hover {
  background-color: #00aced;
}

#linkedin:hover {
  background-color: #0077b5;
}

#instagram:hover {
  background-color: #d93175;
}

.facebook,
.twitter,
.instagram,
.linkedin {
  float: left;
  width: 50%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.social-block {
  display: block;
  height: 170px;
  margin-left: -15px;
  margin-right: -15px;
}

/* ================ partners ================== */
.google-box,
.silver-micro-box,
.future-50-box,
.qms-box,
.charter-box {
  padding: 0px 20px;
  height: 88px;
  width: 240px;
  display: block;
}

.google-box {
  background-image: url(../images/google.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: auto;
  width: 240px;
}

.silver-micro-box {
  background-image: url(../images/silver.jpeg);
  background-repeat: no-repeat;
  background-position: center;
}

.future-50-box {
  background-image: url(../images/f50-no-color.jpeg);
  background-repeat: no-repeat;
  background-position: center;
}

.future-50-box:hover {
  background-image: url(../images/f50-color.jpeg);
}

.qms-box {
  background-image: url(../images/qms-no-color.jpeg);
  background-repeat: no-repeat;
  background-position: center;
}

.qms-box:hover {
  background-image: url(../images/qms-color.jpeg);
}

.charter-box {
  background-image: url(../images/carbon-no-color.jpeg);
  background-repeat: no-repeat;
  background-position: center;
}

.charter-box:hover {
  background-image: url(../images/carbon-color.jpeg);
}

#second-row {
  margin-top: 20px;
}

.investing-box,
.princess-box,
.winner-box {
  height: 58px;
  width: 390px;
  display: inline-block;
  padding: 0px 20px;
}

.investing-box {
  background-image: url(../images/investing-no-color.jpeg);
  background-repeat: no-repeat;
  background-position: center;
}

.investing-box:hover {
  background-image: url(../images/investing-color.jpeg);
}

.princess-box {
  background-image: url(../images/princess-no-color.jpeg);
  background-repeat: no-repeat;
  background-position: center;
}

.princess-box:hover {
  background-image: url(../images/princess-color.jpeg);
}

.winner-box {
  background-image: url(../images/business-no-color.jpeg);
  background-repeat: no-repeat;
  background-position: center;
}

.winner-box:hover {
  background-image: url(../images/business-color.jpeg);
}

/* ========================================= */
/* ========================================= */
/* ================ Media ================== */
/* ========================================= */
/* ========================================= */
/* ================ Navbar ================== */
@media (min-width: 1151px) {
  .telephone-con {
    display: none;
  }
}

@media (max-width: 1151px) {
  .button-contact,
  .button-support {
    display: none;
  }
}

@media (max-width: 1259px) {
  .form-control {
    display: none;
  }
  .button-search {
    border-radius: 3px;
  }
  #icon-search {
    height: 27px;
  }
}

@media (max-width: 991px) {
  .navbar-bottom-container,
  .partners,
  .previous-work {
    display: none;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* ================ Banner ================== */
/* ================ blocks ================== */
@media (max-width: 767px) {
  div .row {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .column-small {
    width: 50%;
  }
}

/* ================ banner 2 ================== */
@media (max-width: 991px) {
  .banner2 {
    display: none;
  }
}

/* ================ cards ================== */
@media (min-width: 767px) and (max-width: 1259px) {
  #card3 {
    display: none;
  }
}

/* ================ newsletter ================== */
/* ================ previous work ================== */
@media (max-width: 1243px) {
  height: 160px;
}

/* ================ footer ================== */
