


// Main Colors

    $Blue: #4183d7;
    $CeruleanBlue:#0077b5;
    $hoverBlue: #286ADB;
    $DarkBlue:#2a6ec6;
    $MarinerBlue:#3b5998;
    $russBlue:#22242e;
    $SkyBlue:#00aced;


    $DarkGray: #333645;
    $DullGray:#84858f;
    $DarkerDullGray:#7e808f;
    $Gray:#666666;
    $LightGray:#dddddd;


    $SeaGreen: #2ecc71;
    $EuGreen:#25a25a;

    $Pink:#DE093F;
    $DarkPink:#d93175;

    $Purple: #926fb1;
    $hoverPurple: #7e57a0;

    $Red: #f62459;

    $White: #ffffff;
