


// Main Colors

    $Blue: #4183d7;
    $CeruleanBlue:#0077b5;
    $hoverBlue: #4183d7;
    $DarkBlue:#2a6ec6;
    $MarinerBlue:#3b5998;
    $russBlue:#22242e;
    $SkyBlue:#00aced;



    $DarkGray: #333645;
    $DullGray:#84858f;
    $DarkerDullGray:#7e808f;
    $Gray:#666666;
    $LighterGray:#ebebeb;
    $LightGray:#dddddd;
    $SlateGray:#67809f;


    $SeaGreen: #2ecc71;
    $EuGreen:#25a25a;

    $Pink:#DE093F;

    $DarkPink:#d93175;

    $Purple: #926fb1;
    $hoverPurple: #926fb1;



    $Red: #f62459;
    $CinnaRed:#d64541;


    $White: #ffffff;

// Main Nav Colors
    $navBarItem1: #926fb1;
    $navBarItem2: #4183d7;
    $navBarItem3: #d64561;
    $navBarItem4: #67809f;
    $navBarItem5: #2ecc71;
    $navBarItem6: #f62459;

// Sub Menu Colors
    $subMenuItem1: #79539a;
    $subMenuItem2: #286abd;
    $subMenuItem3: #bc2c28;
    $subMenuItem4: #526781;
    $subMenuItem5: #25a25a;
    $subMenuItem6: #de093f;
