
// Main Colors

    $Blue: #4183d7;
    $CeruleanBlue:#0077b5;
    $hoverBlue: #4183d7;
    $DarkBlue:#2a6ec6;
    $MarinerBlue:#3b5998;
    $russBlue:#22242e;
    $SkyBlue:#00aced;



    $DarkGray: #333645;
    $DullGray:#84858f;
    $DarkerDullGray:#7e808f;
    $Gray:#666666;
    $LighterGray:#ebebeb;
    $LightGray:#dddddd;
    $lightShadeGray: #999aa2;
    $SlateGray:#67809f;
    $ModalGrayBorder: #e5e5e5;
    $FontColorGray: #AAAAAA;
    $ButtonBorderColor: #f0f0f0;

    $SeaGreen: #2ecc71;
    $EuGreen:#25a25a;

    $Pink:#DE093F;

    $DarkPink:#d93175;

    $Purple: #926fb1;
    $hoverPurple: #7e57a0;



    $Red: #f62459;
    $CinnaRed:#d64541;


    $White: #ffffff;

//carousel colors
    $carouselUnfill: rgba(255,255,255, .5);
    $CarouselHover: #869791;
    $CarouselActiveHover: $White;

//section Colors
    $webDesign: #926fb1;
    $itSupport: #4183d7;
    $telecommServices: #d64561;
    $bespokeSoftware: #67809f;
    $digitalMarketing: #2ecc71;
    $cyberSecurity: #f62459;

//Section Hover Colors
    $webDesignHover: #79539a;
    $itSupportHover: #286abd;
    $telecommServicesHover: #bc2c28;
    $bespokeSoftwareHover: #526781;
    $digitalMarketingHover: #25a25a;
    $cyberSecurityHover: #de093f;


// Main Nav Colors
    $navBarItem1: $webDesign;
    $navBarItem2: $itSupport;
    $navBarItem3: $telecommServices;
    $navBarItem4: $bespokeSoftware;
    $navBarItem5: $digitalMarketing;
    $navBarItem6: $cyberSecurity;

// Sub Menu Colors
    $subMenuItem1: $webDesignHover;
    $subMenuItem2: $itSupportHover;
    $subMenuItem3: $telecommServicesHover;
    $subMenuItem4: $bespokeSoftwareHover;
    $subMenuItem5: $digitalMarketingHover;
    $subMenuItem6: $cyberSecurityHover;

// Table Colors
    $tableHeader: #AAAAAA;
    $tableBody: #DDDDDD;
    $tableButtonColor: $lightShadeGray;
    $tableButtonColorHover: $DullGray;

// Menu Colors
    $MenuHoverColor: hsla(0, 0%, 100%, 0.05);
    $MenuBtnHover: $russBlue;
