@import "_colors";

.main-section {
    .main-page-header{
        margin-bottom: 50px;
            .main-Page-smallHeader {
                display: none;
                border-top: 1px solid $DarkGray;
                padding: 11px 0px 11px;
                .container {
                    .heading-lists{
                        ul {
                            list-style: none;
                            margin: 0px;
                            padding: 0px;
                            li {
                                display: inline-block;
                                font-size: 13px;
                                &:first-child {
                                    font-weight: bold;
                                }
                                &:not(:first-child)::before {
                                    content: " / ";
                                }
                            }
                        }
                    }
                }
            }
            .main-Page-LargeHeader {
                display: block;
                margin-left: -15px;
                margin-right: -15px;
                background-color: $DarkGray;
                .container {
                h1 {
                    font-size: 36px;
                    color: $White;
                    padding: 20px 0px 20px 15px;
                }
            }
        }
    }
    .container {
        .main-page-content {
            .office-collection {
                .three-Offices {
                    margin-bottom: 20px;
                    .office-card {
                        border-left: 1px solid rgba(0, 0, 0, 0.1);
                        border-right: 1px solid rgba(0, 0, 0, 0.1);
                        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                        border-top: 1px solid rgba(0, 0, 0, 0.1);
                        border-radius: 3px;
                        box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 35px 0px;
                        .office-image {
                            a {
                                img {
                                    width: 100%;
                                    height: auto;
                                }
                            }
                        }
                        .office-description {
                            padding: 30px;
                            height: auto;
                            h2 {
                                font-size: 18px;
                                color: $DarkGray;
                            }
                            p {
                                font-size: 13px;
                                color: $Gray;
                            }
                            .telephone-Number {
                                a {
                                    color: $Purple;
                                    font-weight: 700;
                                    font-size: 26px;
                                    text-decoration: none;
                                    &:hover {
                                        color: $hoverPurple;
                                    }
                                }
                            }
                            .view-more-card {
                                text-align: center;
                                display: flex;
                                a {
                                    font-size: 14px;
                                    padding: 5px 30px;
                                    margin-top: 15px;
                                    background-color: $Purple;
                                    color: $White;
                                    text-transform: uppercase;
                                    text-decoration: none;
                                    line-height: 35px;
                                    font-weight: 400;
                                    border: 1px solid $Purple;
                                    border-radius: 3px;
                                    &:hover {
                                        background-color: $hoverPurple;
                                    }
                                }
                            }
                        }
                    }
                    .office-map {
                        position: relative;
                        height: 300px;
                        iframe {
                            height: 300px;
                            width: -webkit-fill-available;
                        }
                    }
                }
            }
            .contact-us-section {
                margin-bottom: 50px;
                margin-top: 40px;
                .contact-us-information {
                    .main-info {
                        p {
                            font-weight: 600;
                            color: $DarkGray;
                            margin-bottom: 25px;
                            a {
                                color: $Purple;
                                font-size: 26px;
                                text-decoration: none;
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                    .out-of-hours-block {
                        .out-of-hours-info {
                            .heading-and-arrow {
                                h4 {
                                    color: $DarkGray;
                                    margin-bottom: 25px;
                                    font-size: 16px;
                                    display: inline-block;
                                    font-weight: 600;
                                    cursor: pointer;
                                }
                                svg {
                                    cursor: pointer;
                                }
                                &:hover h4,
                                &:focus h4 {
                                    text-decoration: underline;
                                }
                            }
                            .out-of-hours-description {
                                display: block;
                                p {
                                    color: $Gray;
                                    line-height: 30px;
                                    strong {
                                        color: $DarkGray;
                                    }
                                }
                            }
                            .HIDE {
                                display: none;
                            }
                        }
                    }
                }
                .contact-us-form-block {
                    padding: 30px;
                    background-color: $ContactUsForm;
                    border-radius: 10px;
                    #NOTIFICATION {
                        color: $White;
                        background-color: $SeaGreen;
                        padding: 15px;
                        margin-bottom: 20px;
                        border: 1px solid transparent;
                        border-radius: 2px;
                        font-size: 16px;
                    }
                    .right-side {
                        float: right;
                    }
                    .contact-us-form-container {
                        .contact-form {
                            .row-inputs {
                                .input-container-form {
                                    display: flex;
                                    flex-direction: column;
                                    margin-bottom: 15px;
                                    label {
                                        &::after {
                                            content: " * ";
                                            color: $Red;
                                        }
                                    }
                                    input {
                                        width: 100%;
                                        height: 47px;
                                        padding: 5px 15px;
                                        border-radius: 2px;
                                        border: 1px solid $ModalGrayBorder;
                                        border-color: $InputBorderColor;
                                        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .08%);
                                        outline: none;
                                        &:focus {
                                            border: 1px solid #5bc0de;
                                            outline: 0;
                                            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(91,192,222,.6);
                                        }
                                        &::-webkit-outer-spin-button,
                                        &::-webkit-inner-spin-button {
                                          -webkit-appearance: none;
                                        }
                                        &[type=number] {
                                          -moz-appearance: textfield;
                                        }
                                    }
                                }
                            }
                            label:not(:last-child):after {
                                content: " * ";
                                color: $Red;
                            }
                            textarea {
                                width: 100%;
                                padding: 5px 15px;
                                border-radius: 2px;
                                border: 1px solid $ModalGrayBorder;
                                border-color: $InputBorderColor;
                                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .08%);
                                outline: none;
                                margin-bottom: 15px;
                                &:focus {
                                    border: 1px solid #5bc0de;
                                    outline: 0;
                                    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(91,192,222,.6);
                                }
                            }
                            .checkbox-container {
                                .checkbox-outer {
                                    .checkbox-1 {
                                        input[type="checkbox"]{
                                            appearance:none;
                                            height: 32px;
                                            min-width: 32px;
                                            max-width: 32px;
                                            border: 3px solid $DarkGray;
                                            border-radius: 3px;
                                            cursor: pointer;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            padding: 0px;
                                            &:focus {
                                                box-shadow: none;
                                            }
                                        }
                                        #MARKETING {
                                            margin-right: 20px;
                                        }
                                        label {
                                            strong {
                                                a {
                                                    color: $DarkGray;
                                                    &:hover {
                                                        color: $VeryDarkGray;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            button {
                                background-color: $Purple;
                                color: $White;
                                border: none;
                                border-radius: 3px;
                                line-height: 35px;
                                padding: 5px 15px;
                                text-transform: uppercase;
                                &:hover {
                                    background-color: $hoverPurple;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .main-section {
        .main-page-header{
                .main-Page-smallHeader {
                    display: block;
                    .container {
                        .heading-lists{
                            ul {

                                li {

                                    &:first-child {

                                    }
                                    &:not(:first-child)::before {

                                    }
                                }
                            }
                        }
                    }
                }
                .main-Page-LargeHeader {

                    .container {
                    h1 {
                        padding: 20px 0px;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .main-section {
        .main-page-header{

                .main-Page-smallHeader {
                    box-shadow: 0 5px 35px rgba(0,0,0,.1);
                    .container {
                        .heading-lists{
                            ul {

                                li {

                                    &:first-child {

                                    }
                                    &:not(:first-child)::before {

                                    }
                                }
                            }
                        }
                    }
                }
                .main-Page-LargeHeader {
                    display: none;
                    .container {
                    h1 {

                    }
                }
            }
        }
        .container {
            .main-page-content {
                .office-collection {
                    display: flex;
                    margin: 0px -15px;
                    .three-Offices {
                        margin-bottom: 20px;
                        display: inline-block;
                        padding: 0px 15px;
                        width: 33.33333333%;
                        .office-card {

                            .office-image {
                                height: 133px;
                                a {
                                    img {
                                        height: 133px;
                                    }
                                }
                            }
                            .office-description {

                                h2 {

                                }
                                p {

                                }
                                .telephone-Number {
                                    a {

                                        &:hover {

                                        }
                                    }
                                }
                                .view-more-card {

                                    a {

                                        &:hover {

                                        }
                                    }
                                }
                            }
                        }
                        .office-map {

                            iframe {

                            }
                        }
                    }
                }
                .contact-us-section {

                    .contact-us-information {
                        .main-info {
                            p {

                                a {

                                    &:hover {

                                    }
                                }
                            }
                        }
                        .out-of-hours-block {
                            .out-of-hours-info {
                                .heading-and-arrow {
                                    h4 {

                                    }
                                    svg {

                                    }
                                    &:hover h4,
                                    &:focus h4 {

                                    }
                                }
                                .out-of-hours-description {

                                    p {

                                        strong {

                                        }
                                    }
                                }
                                .HIDE {

                                }
                            }
                        }
                    }
                    .contact-us-form-block {

                        .contact-us-form-container {
                            .contact-form {
                                .row-inputs {
                                    display: flex;
                                    .input-container-form {
                                        display: flex;
                                        width: 50%;
                                        margin-bottom: 15px;
                                        &:nth-child(2) {
                                            padding-left: 15px;
                                        }
                                        &:nth-child(1) {
                                            padding-right: 15px;
                                        }
                                        label {
                                            &::after {

                                            }
                                        }
                                        input {

                                            &:focus {

                                            }
                                        }
                                    }
                                }
                                textarea {

                                    &:focus {

                                    }
                                }
                                .checkbox-container {
                                    .checkbox-outer {
                                        .checkbox-1 {
                                            input[type="checkbox"]{

                                                &:focus {

                                                }
                                            }
                                            #MARKETING {

                                            }
                                            label {
                                                strong {
                                                    a {

                                                        &:hover {

                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                button {

                                    &:hover {

                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1260px) {
    .main-section {
        .main-page-header{

                .main-Page-smallHeader {
                    .container {
                        .heading-lists{
                            ul {

                                li {

                                    &:first-child {

                                    }
                                    &:not(:first-child)::before {

                                    }
                                }
                            }
                        }
                    }
                }
                .main-Page-LargeHeader {
                    .container {
                    h1 {

                    }
                }
            }
        }
        .container {
            .main-page-content {
                .office-collection {
                    .three-Offices {
                        &:first-child{
                        }
                        &:last-child{
                        }
                        .office-card {

                            .office-image {
                                height: 167px;
                                a {
                                    img {
                                        height: 167px;
                                    }
                                }
                            }
                            .office-description {

                                h2 {

                                }
                                p {

                                }
                                .telephone-Number {
                                    a {

                                        &:hover {

                                        }
                                    }
                                }
                                .view-more-card {

                                    a {

                                        &:hover {

                                        }
                                    }
                                }
                            }
                        }
                        .office-map {

                            iframe {

                            }
                        }
                    }
                }
                .contact-us-section {
                    display: flex;
                    flex-direction: row-reverse;
                    .contact-us-information {
                        padding-left: 30px;
                        width: 34%;
                        .main-info {
                            p {

                                a {

                                    &:hover {

                                    }
                                }
                            }
                        }
                        .out-of-hours-block {
                            .out-of-hours-info {
                                .heading-and-arrow {
                                    h4 {

                                    }
                                    svg {

                                    }
                                    &:hover h4,
                                    &:focus h4 {

                                    }
                                }
                                .out-of-hours-description {

                                    p {

                                        strong {

                                        }
                                    }
                                }
                                .HIDE {

                                }
                            }
                        }
                    }
                    .contact-us-form-block {
                        width: 66%;
                        .contact-us-form-container {
                            .contact-form {
                                label {
                                    &:not(:last-child)::after {

                                    }
                                }
                                input:not(:last-child) {

                                    &:focus {

                                    }
                                }
                                textarea {

                                    &:focus {

                                    }
                                }
                                .checkbox-container {
                                    .checkbox-outer {
                                        .checkbox-1 {
                                            input[type="checkbox"]{

                                                &:focus {

                                                }
                                            }
                                            #MARKETING {

                                            }
                                            label {
                                                strong {
                                                    a {

                                                        &:hover {

                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                button {

                                    &:hover {

                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.form-input {
    border-color: $Red;
}
