@import "_colors";

.side-bar {
    position: fixed;
    transform: translateX(258px);
    right: 0px;
    top: 0px;
    width: 258px;
    z-index: 5;
    background-color: $DarkGray;
    height: 100%;
    overflow: auto;
    margin-bottom: 0px;
    transition: all .5s;
    .main-menu {
        .main-nav-items{
            padding: 21px;
            ul {
                padding: 0px;
                text-align: center;
                margin-bottom: 0px;
                li {
                    #sidebar-contactUS{
                        margin-top: 0px;
                    }
                    .main-sidebar-items-standout {
                        font-size: 1.125rem;
                        padding: 19px 0 18px;
                        border-radius: 3px;
                        outline: 1px solid rgba(0,0,0,.25);
                        border: 1px solid hsla(0,0%,100%,.1);
                        margin-top: 20px;
                        span {
                            padding-bottom: 3px;
                        }
                        small {
                            padding-bottom: 3px;
                        }
                    }
                    a {
                        display: block;
                        text-decoration: none;
                        color: $White;
                        text-transform: uppercase;
                    }
                    ul {
                        margin-top: 20px;
                        padding: 0px;
                        li {
                            background-color: rgba(0,0,0,.25);
                            a {
                                padding: 10px;
                                border-top: 1px solid hsla(0,0%,100%,.05);
                            }
                        }
                    }
                }
                li:not(:first-child) {
                    border-top: 1px solid rgba(0,0,0,.45);
                }
                li:hover .main-sidebar-items-standout {
                    background-color: hsla(0, 0%, 100%, 0.05);
                }
            }
        }
        .secondary-menu {
            display: block;
            padding: 0px;
            margin-bottom: 0px;
            border-top: 1px solid rgba(0,0,0,.25);
            li {
                border-top: 1px solid hsla(0,0%,100%,.1);
                border-bottom: 1px solid rgba(0,0,0,.25);
                a {
                    display: block;
                    text-decoration: none;
                    color: $White;
                    text-transform: uppercase;
                    padding: 20px;
                    font-size: 16px;
                }
                ul {
                    padding: 0px;
                    li {
                        a {
                            font-size: 14px;
                            padding: 15px 20px;
                            background-color: rgba(0,0,0,.25);
                            border-top: 1px solid hsla(0,0%,100%,.05);
                            .angle-quotemark {
                                padding-right: 20px;
                            }
                        }
                    }
                    li:not(:first-child) {
                        border-top: 1px solid rgba(0,0,0,.45);
                    }
                }
            }
            li:hover .secondary-sidebar-items-standout {
                background-color: hsla(0, 0%, 100%, 0.05);
            }
        }
    }
}


@media (min-width: 992px) {
    .side-bar {
        width: 350px;
        transform: translateX(350px);
        transition: all 0.5s;
        .main-menu {
            .main-nav-items {
                display: none;
            }
        }
    }
}


// JavaScript Classes
.shiftSidemenuLeft {
    transform: translateX(0px);
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -ms-transform: translateX(0px);
}
.shiftLeft {
    transform: translateX(-258px);
    left: 0px;
    position: absolute;
    transition: all 0.5s !important;
    -ms-transition: all 0.5s !important;
    -ms-transform: translateX(-258px);
}

.dontShow {
    cursor: pointer;
    height: 100%;
    width: 100%;
    right: 0px;
    transform: translateX(-258px);
    transition: all 0.5s;
    display: block;
    position: fixed;
    background-color: black;
    opacity: 0.5;
    z-index: 4;
    -ms-transition: all 0.5s;
    -ms-transform: translateX(-258px);
}
.shiftHeaderLeft {
    transform: translateX(-258px);
    left:0px;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -ms-transform: translateX(-258px);
}

@media (min-width: 992px) {
    .shiftHeaderLeft {
        transform: translateX(-350px);
        left:0px;
        transition: all 0.5s;
        -ms-transition: all 0.5s;
        -ms-transform: translateX(-350px);
    }
    .shiftSidemenuLeft {
        transform: translateX(0px);
        transition: all 0.5s;
        -ms-transition: all 0.5s;
        -ms-transform: translateX(0px);
    }
    .shiftLeft {
        transform: translateX(-350px);
        left:0px;
        position: absolute;
        transition: all 0.5s !important;
        -ms-transition: all 0.5s !important;
        -ms-transform: translateX(-350px);
    }

    .dontShow {
        cursor: pointer;
        height: 100%;
        width: 100%;
        right: 0px;
        transform: translateX(-258px);
        transition: all 0.5s;
        display: block;
        position: fixed;
        background-color: black;
        opacity: 0.5;
        -ms-transition: all 0.5s;
        -ms-transform: translateX(-258px);
    }
}

.static {
    position: static;
}
